<div class="row">
    <div class="col-md-4">
        <form action="/send-sms" method="POST" class="card card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="message" placeholder="Write your messaga" autofocus>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="phone" placeholder="+00000000000" autocomplete="off">
            </div>
            <button class="btn btn-primary btn-block">
                Send SMS
            </button>
        </form>
    </div>
</div>